@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --c-blue-950: #1f244c;
    --c-blue-900: #2b377d;
    --c-blue-800: #303f9d;
    --c-blue-700: #344ac1;
    --c-blue-600: #3e5dd2;
    --c-blue-500: #5279df;
    --c-blue-400: #739be7;
    --c-blue-300: #a0bef0;
    --c-blue-200: #c7d7f6;
    --c-blue-100: #dfe8fa;
    --c-blue-50: #f1f5fd;
    --c-white: #fff;
    --c-gray-900: #0f172a;
    --c-gray-800: #1e293b;
    --c-gray-700: #334155;
    --c-gray-400: #94a3b8;
    --c-green-500: #2DCD7A;
    --c-red-600: #d7232f;
    --c-text-primary: var(--c-blue-100);
    --c-text-secondary: var(--c-blue-200);
    --c-text-tertiary: var(--c-blue-500);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--c-gray-900);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--c-gray-700);
    border-radius: 20px;
    border: 3px solid var(--c-gray-700);
}

body{
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    font-family: "Be Vietnam Pro", sans-serif;
    color: var(--c-text-primary);
    background-color: var(--c-gray-900);
}



img {
    display: block;
    max-width: 100%;
}

button,
select,
input,
textarea {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li{
    list-style: none;
}

input:focus,
select:focus,
a:focus,
textarea:focus,
button:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
}

/*App*/
.dashboard{
    width: 95%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.dashboard__header{
    display: grid;
    grid-template-columns: minmax(min-content, 200px) minmax(max-content, 1fr) minmax(max-content, 175px);
    column-gap: 4rem;
    align-items: center;
}
.dashboard__header > div{
    justify-self: center;
}
.dashboard__header-information{
    display: flex;
    align-items: center;
}

.dashboard__header-information > * + * {
    margin-left: 1rem;
}

.logo{
    padding:  1.6rem 0;
    width: 100%;
}

.user__profile{
    display: flex;
    align-items: center;
    border: 0;
    padding: 5px 15px;
    background: transparent;
    cursor: pointer;
    color: var(--c-text-tertiary);
    transition: 0.25s ease;
}

.user__profile:hover, 
.user__profile:focus,
.action-button:hover,
.action-button:focus, 
.action-button.active  {
    color: var(--c-text-primary);
}
.user__profile:hover,
.user__profile:focus,
.action-button:hover,
.action-button:focus, 
.action-button.active  {
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}

.user__profile > img{
    margin-left: 12px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.user__profile-name > span {
    display: block;
}
.user__profile-name span:first-child{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--c-text-tertiary);
}
.user__profile-name span:last-child{
    font-size: 0.7rem;
    font-weight: 900;
    color: var(--c-text-primary);
    text-transform: uppercase;
}


.dashboard__body{
    height: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, 200px) minmax(max-content, 1fr);
    column-gap: 3rem;
    padding-top: 1.5rem;
}

.dashboard__body-navigaation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--c-text-tertiary);
}

.navigation li {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.25s ease;
    font-size: 1rem;
}
  .navigation li * {
    transition: 0.25s ease;
}

.navigation a i {
    margin-right: 0.75rem;
    flex-shrink: 0;
}
.navigation li + li {
    margin-top: 2rem;
}
.navigation__item-active,
.navigation li:hover,
.navigation li:focus {
    transform: translateX(7px);
    color: var(--c-text-primary);
}


.menu {
    display: flex;
    justify-content: space-between;
    color: var(--c-text-tertiary);
    border-bottom: 1px solid var(--c-gray-800);
}

.menu__item {
    padding: 1rem 1.5rem ;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    display: inline-flex;
    transition: 0.25s ease;
    cursor: pointer;
}
.menu__item a > i{
    padding-right: 5px;
}
.menu__item-active,
.menu__item:hover,
.menu__item:focus {
    color: var(--c-text-primary);
    border-color: var(--c-text-primary);
}
/*container*/
.dashboard__body-main{
    height: 85vh;
    padding: 0px 5px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.reporte-container {
    flex: 1;
    overflow: auto;
    /* Puedes ajustar otros estilos según tus necesidades */
  }

  #iframeReporte {
    width: 100%;
    height: 100%;
    border: none; /* Para quitar el borde del iframe */
  }

.dashboard__main-header > h1{
    color: var(--c-blue-500);
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 24px;
    display: flex;
}

.dashboard__main-actions{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    margin-bottom: 42px;
}

.dashboard__main-actions-buttons{
    display: flex;
    align-items: center;
    
}
.dashboard__main-actions-buttons input {
    margin-right: 15px; /* Agrega un margen a la derecha del input */
}

/*Search bar*/
.search-bar {
    background-color: var(--c-gray-800);
    border: 1px solid var(--c-gray-700);
    color: var(--c-text-primary);
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 5px;
    padding: 0px 10px 0px 32px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    width: 100%;
    max-width: 320px;
    transition: 0.2s;
}

.search-bar:hover {
    border-color: var(--c-blue-300);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236291fd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
    color: var(--c-text-primary);
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}

.search-bar:focus {
    outline: none;
    border-color: var(--c-blue-500);
    color: var(--c-text-primary);
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}

/*Input bar*/
.input-bar {
    background-color: var(--c-gray-800);
    border: 1px solid var(--c-gray-700);
    color: var(--c-text-primary);
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    height: 40px;
    width: 100%;
    transition: 0.2s;
}

.input-bar[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    border-radius: 50%;
    padding: 4px;
}

.input-bar:hover {
    border-color: var(--c-blue-300);
    color: var(--c-text-primary);
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}

.input-bar:focus {
    outline: none;
    border-color: var(--c-blue-500);
    color: var(--c-text-primary);
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}

.input-bar:disabled{
    background-color: var(--c-gray-700);
    cursor: not-allowed;
    color: var(--c-gray-400);
}

.input-disable:focus,
.input-disable:hover{
    border: none;
    box-shadow: none;
}

.action-button {
    border-radius: 4px;
    height: 40px;
    background-color: var(--c-gray-800);
    border: 1px solid var(--c-gray-700);
    display: flex;
    align-items: center;
    color: var(--c-text-primary);
    font-size: 1rem;
    padding:  0px 15px;
    cursor: pointer;
    margin-right: 15px;
}

.action-button i {
    margin-left: 7px;
}

.dashboard__main-actions-buttons{
    position: relative;
}

.filter-menu{
    background-color: var(--c-gray-700);
    position: absolute;
    top: calc(100% + 16px);
    border-radius: 4px;
    padding: 8px;
    width: 220px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.filter-menu:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 50%;
    transform: translatex(-50%);
}

.filter-menu.active {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 8px);
}

.filter-menu label {
    display: block;
    font-size: 0.9rem;
    color: var(--c-white);
    margin-bottom: 8px;
}

.filter-menu select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding: 8px 24px 8px 8px;
    background-position: right 4px center;
    border: 1px solid var(--c-gray-400);
    border-radius: 4px;
    color: var(--c-white);
    font-size: 0.75rem;
    background-color: transparent;
    margin-bottom: 16px;
    width: 100%;
}
.filter-menu select option {
    font-size: 0.9rem;
    background-color: var(--c-gray-800);
}

.filter-menu select:hover {
    border-color: var(--c-white);
}
.filter-menu select:focus, .filter-menu select.active {
    outline: none;
    color: var(--c-blue-300);
    border-color: var(--c-blue-300);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
}

.filter-menu-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table__main{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.header__table  th,
tbody td,
.footer__row-table td{
    /* text-align: left; */
    border-bottom: 1px solid var(--c-gray-700);
    padding: 15px 10px;
}

.body__table td {
    text-align: center;
    padding: 15px;
    /* margin: auto;
    width: auto; */
    
}

.header__table-element button{
    background-color: transparent;
    /* text-align: right; */
    border: 0;
    color: var(--c-blue-600);
    cursor: pointer;
    color: white;  
    /* width: auto;
    height: auto; */
}
.header__table-element{
    color: white;  
}
.header__table-element i{
    margin-left: 15px;
    color: white;  
}

.element__modifier button{
    margin: 0 auto;
}

.btn{
    height: 30px;
    border-radius: 4px;
    background-color: var(--c-gray-800);
    border: 1px solid var(--c-gray-700);
    align-items: center;
    color: var(--c-text-primary);
    font-size: 1rem;
    padding:  0px 15px;
    cursor: pointer;
}
.btn-active{
    background-color: var(--c-green-500);
    color: var(--c-gray-900);
}
.btn-inactive{
    background-color: var(--c-red-600);
    color: var(--c-text-primary);
}
.btn-apply{
    background-color: var(--c-blue-700);
}
.page-btn-active{
    background-color: var(--c-gray-900);
}

.btn:hover, 
.btn:focus {
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}

.footer__table{
    margin-top: 36px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/*Comprobante contable*/

.voucher__title > h3{
    display: inline;
    margin-left: 15px;
    font-size: 1.15rem;
}

.voucher__title{
    margin-bottom: 20px;
}

.voucher__document-form{
    display: flex;
    justify-content: space-between;
}

.input__group-label{
    margin: 15px 0px;
}
.input__group-label{
    display: flex;
}
.input__group-label >span{
    margin-right: 5px;
    font-weight: 700;
}
.input__group-label >i{
    font-size: 0.4rem;
    color: var(--c-red-600);
}

.document__form-group{
    width: 30%;
    margin-right: 30px;
}
.form__textarea > textarea{
    width: 90%;
    height: 135px;
    background-color: var(--c-gray-800);
    border: 1px solid var(--c-gray-700);
    color: var(--c-text-primary);
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.2s;
}

.form__textarea > textarea:hover {
    border-color: var(--c-blue-300);
    color: var(--c-text-primary);
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}

.form__textarea > textarea:focus {
    outline: none;
    border-color: var(--c-blue-500);
    color: var(--c-text-primary);
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}

.voucher__header,
.voucher__main{
    margin-top: 25px;
    padding: 15px 0px;
}

.body__table tr td:first-child,
.body__table tr td:last-child {
    width: 10%;
}
.body__table tr td:nth-child(2),
.body__table tr td:nth-child(3),
.body__table tr td:nth-child(4) {
    width: 15%;
}
.body__table tr td:nth-child(5),
.body__table tr td:nth-child(6) {
    width: 10%;
}

.tfooter td{
    background-color: var(--c-gray-800);
}
.tfooter .total > span{
    color: var(--c-red-600);
    font-size: 1.25rem ;
    font-weight: 800;
}
.tfooter td:nth-child(3),
.tfooter td:nth-child(4){
    text-align: center;
}

.dashboard__body-footer{
    display: flex;
    justify-content: right;
    margin-top: 50px;
    margin-bottom: 150px;
    align-items: center;
}

.btn-voucher{
    display: flex;
    justify-content: right;
}


.contenedor {
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.campo {
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.campo label {
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.campo input {
    width: 200px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 10px;
    background: transparent;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 25px;
}

.campo input:focus~label,
.campo input:valid~label {
    top: 0;
    font-size: 12px;
    background-color: #0f172a;
}
.message-container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #ff6961; /* rojo claro */
    color: white;
    border-radius: 8px;
}
.campo,
.campo-select {
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.campo label,
.campo-select label {
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.campo input,
.campo-select input,
.campo-select select {
    width: 200px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 0 10px;
    background: #0f172a;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 25px;
}

.campo input:focus,
.campo-select input:focus,
.campo-select select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.campo input:valid + label,
.campo-select input:valid + label,
.campo-select select:valid + label {
    /* transform: translateY(-1.5rem); */
    font-size: 1rem;
    color: white;
   
}

.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: var(--c-gray-800);
    color: #fff;
    padding: 1rem 2rem 1.5rem;
    width: 98%;
    max-width: 600px;
    border-radius: 20px;
    opacity: 0;
    transition: 0.2s;
}

.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__header-container{
    width: 100%;
}

.modal.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.modal__alert.show {
    display: block;
    opacity: 1;
}
.modal .close {
    margin-inline-start: auto;
    display: block;
    cursor: pointer;
}
.modal .modal__title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 30px 0;
}

.modal__footer{
    display: flex;
    justify-content: end;
    margin-top: 50px;
    width: 100%;
}

.modal__footer-container > button:first-child{
    margin-right: 10px;
}

.modal__alert{
    display: none;
    position: fixed;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%) scale(0.5);
    color: #fff;
    padding: 1rem 2rem 1.5rem;
    width: 45%;
    height: 120px;
    max-width: 600px;
    border-radius: 20px;
    opacity: 0;
    transition: 0.2s;
    font-size: 1.75rem;
    display: grid;
    align-items: center;
    text-align: center;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
}

.btnEditarModal{
    height: 30px;
    border-radius: 4px;
    background-color: var(--c-gray-800);
    border: 1px solid var(--c-gray-700);
    align-items: center;
    color: var(--c-text-primary);
    font-size: 1rem;
    padding:  0px 15px;
    cursor: pointer;
}
.btnEditarModal-active{
    background-color: var(--c-green-500);
    color: var(--c-gray-900);
}
.btnEditarModal-inactive{
    background-color: var(--c-red-600);
    color: var(--c-text-primary);
}
.btnEditarModal-apply{
    background-color: var(--c-blue-700);
}
.btnEditarModal-voucher{
    display: flex;
    justify-content: right;
}
.page-btn-active{
    background-color: var(--c-gray-900);
}

.btnEditarModal:hover, 
.btnEditarModal:focus {
    box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
}
